body,h1,h2,h3,h4,h5,h6 {font-family: "Raleway", sans-serif}

body, html {
  height: 100%;
  line-height: 1.8;
  background-color: #000;
  color: #fff;
}

/* Full height image header */
.bgimg-1 {
  background-position: center;
  background-size: cover;
  background-image: url("/your-background-image.jpg");
  min-height: 100%;
}

.w3-bar .w3-button {
  padding: 16px;
}

/* Style your header text */
.w3-display-left .w3-text-white {
  padding: 48px;
  background-color: rgba(0, 0, 0, 0.6);
}

/* Style your main content */
.w3-container {
  padding: 64px 16px;
  background-color: #fff;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

/* Style your buttons */
.w3-button {
  background-color: #28282B;
  color: #fff;
  padding: 10px 20px;
  border: none;
  text-decoration: none;
  transition: background-color 0.3s ease;
}

.w3-button:hover {
  background-color: #2980b9;
}

/* Style your footer */
footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 10px;
}

/* Customize the rest of your content as needed */
